extends ./common

block content
 .container-fluid.full-note1.chance-bg
  .container-fluid.form-note1
 
   h5.text-white.text-center Fix Note
   form(action="/change?idNews="+idNews+"&idSub="+idSub  method="POST" class="m-5" ) 
    .form-group
     input(class="form-control" name = "title" type="text" placeholder="Tiêu đề" value=nChange.title) 
    .form-group 
     textarea(class="form-control h-25" name="content" type="text" placeholder="Nội dung")=nChange.content.join('\n')
    .form-group
     input(class="form-control" name = "link" type="url" placeholder="link" value=nChange.link) 

    button.btn.btn-primary Lưu Thay Đổi