html
 head
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/mediaquery.css">


 body
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/').text-danger QLMH
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      div(class='collapse navbar-collapse' id='navbarNav' )
       ul.navbar-nav
        li.nav-item
         a.nav-link.active(href='/') Home 
        li.nav-item
         a.nav-link.active(href='/tkb') Timetable
        li.nav-item
         a.nav-link.active(href='/project') Project
        li.nav-item
         a.nav-link.active(href='/english') English
        li.nav-item
         a.nav-link.active(href='/game') Game

       

      if name
       p.text-danger.hi="Hi sếp "+ name
  .container.mt-5.main
   block content


 