extends ./common

block content 
 form.form-inline(action='/english' method='POST' class='d-flex flex-column align-items-start' id='word-form' enctype="multipart/form-data")
   input.mb-2(class='form-control' name='word' placeholder='Nhập từ mới' type='text')
   input.mb-2(class='form-control' name='spell' placeholder='Phiên âm' type='text')
   input.mb-2(class='form-control' name='mean' placeholder='Nhập nghĩa' type='text')
   .form-group
    input(type='file',name='audio' class='file')
   button.btn.btn-primary.mt-2 Save