<html lang="en">
 <head>
  <title>Subject Management</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 </head>
 body
  .container-fluid#black-bg
  .container.full-screen(id="full-index" )
    .container.new-subject
      button.btn.btn-secondary#showAll Tất cả môn
      button.btn.btn-primary.ml-4#newSubject Thêm môn

  
    .container.full-table
      #loadingData.hide
       span.mr-2.text-warning loading
       span.spinner-border.spinner-border-sm.text-warning(role="status") 
      table.table.mt-2.table-index(id='tableData')
        th Tên Môn
        th Tên Giáo Viên
        th Nhóm
        th Học kỳ
        th Năm học
        th Chi Tiết
    .container.form-create(id='allForm')
     i(class="zmdi zmdi-close-circle-o zmdi-hc-2x" id='closeForm' class='close')
     form(id='createForm' action="/api/quanlymon" method="POST" class="w-50 m-auto" ) 
      p#status.mb-4.text-primary
      .form-group
       input#name(class="form-control" name = "tenmon" type="text" placeholder="Tên môn học") 
      .form-group
       input#teacher-name(class="form-control" name="hotengv" type="text" placeholder="Tên Giáo Viên") 
      .group
       select.form-select#nhom
        option(selected disabled) Chọn nhóm 
        option Nhóm 1
        option Nhóm 2
        option Nhóm 3
        option Nhóm 4
        option Nhóm 5
        option Nhóm 6
        option Nhóm 7
        option Nhóm 8
        option Nhóm 9
        option Nhóm 10
      .term
       select.form-select#hocky
        option(selected disabled) Chọn học kỳ
        option Học kỳ 1
        option Học kỳ 2
        option Học kỳ 3
      .year
       select.form-select#nam
        option(selected disabled) Chọn năm học
        option Năm học: 2020-2021
        option Năm học: 2021-2022
        option Năm học: 2022-2023
      button.btn.btn-primary#btnAdd Thêm   
    .container#viewNotes
     button.mt-2.btn.btn-primary(id='add') Tạo Note
     p#statusNoteDelete.text-primary.mt-3
     i(class="zmdi zmdi-close-circle-o zmdi-hc-2x" id='closeForm' class='close')
     div.name
     .container#notes
       .row
        .col-6#left
        .col-6#right
    .container(id='addNote')
     i(class="zmdi zmdi-close-circle-o zmdi-hc-2x" id='closeForm' class='closeAddNote')
     form(id='addForm' action="api/note/" method="POST" class=" m-auto" ) 
      p#statusNote.mb-4.text-primary 
      input(class="form-control" name = "tieude" type="text" placeholder="Tiêu đề") 
      textarea.form-control(name="noidung" placeholder="Nội dung")
      input(class="form-control" name="link" type="url" placeholder="link") 
      button.btn.btn-primary#btnAddNote.mt-4 Thêm   

  script(src="./js/main.js")
 

