extends ./common

block content
 .container.mt-5
  h6 Các project đã làm
  a.mt-2.mb-2(href="https://project1-768a7.web.app/" target="blank")="https://project1-768a7.web.app/"
  h6.mt-2.mb-2 web gốc : 
  a(href="https://magnusosc.perfectuswebinsights.com/index.php?osCsid=8c92a0d99819703709677b55d2835388&fbclid=IwAR21n516cBfmwinyHTNVpFQ6fwvosJKpeB7aonHrZYem5uiT0mVvpSBxVaE" target="blank")="https://magnusosc.perfectuswebinsights.com/index.php?osCsid=8c92a0d99819703709677b55d2835388&fbclid=IwAR21n516cBfmwinyHTNVpFQ6fwvosJKpeB7aonHrZYem5uiT0mVvpSBxVaE"