.notification{
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
}

.total{
position: absolute;
left: 8px;
top:-10%;
border: 1px solid darkred;
background-color: darkred;
width: 20px;
height: 15px;
text-align: center;
font-size: 60%;

color: #EEE;
border-radius: 5px;
}


.icNof{
	cursor: pointer;
}


.imusic{
cursor: pointer;
position: relative;
}

.music{
position: absolute;
top: 35%;
left:0;
opacity: 0;
}

.imusic:hover .music {
	opacity: 1;
}

/*english*/
/*.new-word{
	position: relative;
} 

.word-form{
  position: absolute;
  display:  none !important;
}
.new-word:hover .word-form,
.new-word:active .word-form{
display:block !important;
}*/

/*.tb{
	border-top: none !important;
}*/
.icAudio{
	cursor: pointer;
	position: relative;
}

.audio{
	display: none;
	position: absolute;
	width: 90px;
	height: 20px;
	top: 0;
	left: : 0;

}

/*-----bfgame.pug------*/

.canvas{
	width: 300px;
	height: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-40%,60%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('https://vignette.wikia.nocookie.net/millionaire/images/7/7e/Wwtbam_vietnam_logo-0.jpg/revision/latest?cb=20180426123938');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.play{
}

#main{
	border: 3px solid black;
	padding: 30px;
	width: 500px;
	height: 400px;
  margin: 100px auto;
}

.list{
 /*display: flex;
 align-items: center;
    justify-content: center;*/
    list-style: none;
    margin-top: 20%;
}
.list li{
  border: 1px solid green;
  padding: 3px 0px;
  margin-bottom:2px;
  cursor: pointer;
  display: block;
  text-align: center;
}
/*.result{
margin-left: 3px;
}*/

#game{
  position: relative;
}
.question{
  text-align: center;
}