/*index.pug*/
* {
  padding: 0;
  margin: 0;
  border: none;
  }
body{
  background-color: #DDD;
  position: relative;
}
.full-screen{
  margin-top: 0;
 height: 100vh;
margin-top: 20px;
  position: relative;
}

.new-subject{
  padding: 30px 40px;
  background-color: #FFF;
}

.full-table{
  background-color: #FFF;
  padding: 10px 20px;
  margin-top: 20px;
}

.form-create{
  border: 1px solid #444444;
  background-color: white ;
  width: 40%;
  border-radius: 20px;
  padding: 50px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%);
  display: none;
  z-index: 4;
}

.hide{
  display: none;
}

#status{
  font-size: 12px;;
}


#viewNote{
  cursor: pointer;
  color: red;
}
#closeForm{
  color: rgb(109, 8, 8);
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}
#viewNotes{
  position: absolute;
top: 0%;
/* transform: translate(-50%,50%); */
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  display: none;
}


/*NOTE*/
.name{
  font-size: 20px;
  margin: 20px;
  text-align: center;
}
.note{
  width: 95%;
  margin: 20px auto;
  background-color: #444444;
  /* border: 1px solid #444444; */
  border-radius: 20px;
  color: white;
  padding: 20px;
  position: relative;

}
.note h5{
  text-align: center;
  margin-bottom: 5px;
}

.note p{
font-size: 13px;
height: 70%;

}
.note a{
  font-size: 13px;
 padding-bottom: 5px;
 height: 10%;
}
.note span{
  display: block;
position: absolute;
bottom: 5px;
font-size: 12px;
color: rgb(241, 68, 68);
}


.note i{
position: absolute;
top: 4px;
left: 8px;
color: rgb(110, 138, 9);
cursor: pointer;
}


#addNote{
  position: fixed;
  border: 1px solid #444444;
  width: 40%;
  top: 20%;
  left: 30%;
  border-radius: 20px;
  background-image: url('../img/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0px;
display:none;
z-index: 4;
}
#addNote textarea{
  height: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#addForm{
  width: 80%;
}
/*----------*/




/*LOGIN*/

#login{
	width: 100vw;
	height: 100vh;
	/* background-color: #282828; */
	background-image: url('../img/bg.jpg');
	background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
	position: absolute;
	z-index: 2;
	opacity: 0.5;
	filter: brightness(60%);
  }
  
  .loginForm{
	position: fixed;
	top: 45%;
	left: 50%;
	width: 40%;
	transform: translate(-50%,-50%);
	margin: 0 auto;
	background-color: white;
	padding: 50px 0px;
	border-radius: 10px;
	z-index: 3;
	border: 1px  solid #333333;
  }
  /*-----------------------------------*/

.group{
padding: 10px 0px;
}

.term{
  padding: 20px 0 10px 0;
}
.year{
  padding: 15px 0 50px 0;
}

#black-bg{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #191919;
  opacity: 0.2;
  z-index: 3;
  display: none;
}

.index{
width: 70%;
padding-top: 30px;
}

.table-index{
}


.notification{
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
}

.notif{
  background-color: white;
  border-radius: 20px;
  height: 30px;
}

.total{
position: absolute;
left: 8px;
top:-10%;
border: 1px solid darkred;
background-color: darkred;
width: 20px;
height: 15px;
text-align: center;
font-size: 60%;

color: #EEE;
border-radius: 5px;
}


.icNof{
	cursor: pointer;
}


.imusic{
position: relative;
display: none;
}

.music{
position: absolute;
top: 35%;
left:0;
opacity: 0;
}

/*.imusic:hover .music {
	opacity: 1;
}*/

/*english*/
/*.new-word{
	position: relative;
} 

.word-form{
  position: absolute;
  display:  none !important;
}
.new-word:hover .word-form,
.new-word:active .word-form{
display:block !important;
}*/

/*.tb{
	border-top: none !important;
}*/
.icAudio{
	cursor: pointer;
	position: relative;
}

.audio{
	display: none;
	position: absolute;
	width: 90px;
	height: 20px;
	top: 0;
	left: : 0;

}

/*-----detailSub.pug---*/

.full-detaSub{
  background-color: #191919;
}

.a-news{
  background-color: #282828;
  border: 1px solid #444444;
}
.full-note{
  width: 80%;
  margin: 0 auto;
}
.break{
  height: 20px;
}
.head-detaSub{
  border: 1px solid #444444;
  display: inline-block;
  padding: 10px;
  border-top-left-radius:20px;
  border-bottom-right-radius: 20px; 
}


/*---------TKB------------*/
.main-tkb{
  background-color: #282828;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.tkb{
background-color: #191919;
margin-top: 50px;
}

/*------------create.pug--------------*/



.full-create{
  background-image: url("../img/bg1.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

/*----------note.pug-----------*/

.full-note1{background-image: url("../img/bg2.jpg");height: 700px;background-position: center;background-repeat: no-repeat;background-size: cover;padding-top: 100px;}

.form-note1{
 border: 1px solid #444444;
  background-color: rgba(28,28,28,0.6);
  width: 60%;
  border-radius: 20px;
  padding: 50px 0;
}

.chance-bg{
  background-image: url("../img/bg3.jpg") !important;
}